body {
  font-family: "Frijole", cursive;
  //font-family: "Source Code Pro", monospace;
  //font-family: "Archivo Black", sans-serif;
  //font-family: "Amatic SC", cursive;
}

#canvasWindowBackground {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
#canvasWindowShadow {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
#canvasWindowMap {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
#canvasWindowItems {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
#canvasWindowNotif {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}
